@use 'variables' as vars;
@use 'mixins';
div#primary.show-sidebar {
    width: 100%;
    margin-top: 3em;
  
    main#main {
      margin: 0 auto;
      padding-bottom: 1.8em;
      width: vars.$content-width;
      border-bottom: vars.$border;
  
      div.blog-content{
        display: grid;
        grid-template-columns: 620px 270px;
        grid-column-gap: 45px;
  
        div.post-content {
          div.main-title {
            display: flex;
            justify-content: space-between;
            border-bottom: vars.$border;
            font-family: vars.$font-family;
            margin-bottom: 1.5em;
  
            span.title {
              font-weight: lighter;
              font-size: 45px;
              color: #62585f;
              text-shadow: 2px 2px #fff;
              padding-bottom: 0.15em;
            }
          }
  
          div.post-grid {
            display: grid;
            grid-template-columns: 620px;
            grid-row-gap: 4em;
            margin: 0;
            padding: 0;
            overflow: auto;
  
            article {
              overflow: auto;
  
              a.post-link {
                text-decoration: none;
              }
  
              a.post-link:hover header.entry-header {
                background-color: #ef4634;
              }
  
              header.entry-header {
                width: 100%;
                height: auto;
                background-color: #222;
                display: flex;
                font-family: vars.$font-family;
                font-weight: normal;
                color: #fff;
                border-radius: 3px;
  
                .entry-title {
                  width: 100%;
                  margin: 0;
                  font-size: 20px;
                  padding: 0.55em 1em;
                  overflow: auto;
                }
  
                span.entry-meta {
                  margin: 0;
                  padding: 0.4em 0.9em;
                  border-right: 1px solid rgba($color: #fff, $alpha: 0.7);
                  width: fit-content;
                  height: auto;
                  line-height: 1;
  
                  span.post-day {
                    margin: 0;
                    padding: 0;
                    font-size: 25px;
                    height: 25px;
                    display: block;
                    line-height: 1;
                  }
  
                  span.post-month {
                    margin: 0;
                    padding: 0;
                    font-size: 14px;
                    height: 14px;
                    display: inline-block;
                    line-height: 1;
                    position: relative;
                    top: -0.25em;
                  }
                }
              }
  
              div.entry-content {
                margin-top: 1em;
                display: flex;
  
                img.post-thumbnail {
                  height: 153px;
                  width: 220px;
                  border-radius: 10px;
                  object-fit: cover;
                  margin-right: 1em;
                }
  
                div.post-content-block {
                  font-family: vars.$font-family;
                  font-weight: normal;
                  font-size: 14px;
                  color: #62585f;
                  overflow: auto;
                  width: 100%;
  
                  div.post-content-header {
                    @include mixins.created-by-posted-on();
                  }
  
                  div.post-text {
                    overflow: auto;
                    line-height: 21px;
  
                    p {
                      margin: 0;
  
                      a.read-more {
                        color: #ef4634;
                        margin-top: 1em;
                        display: block;
                      }
                    }
                  }
                }
              }
            }
          }
        }
  
        div.single-post-content {
          font-family: vars.$font-family;
          color: #62585f;
          font-weight: normal;
  
          article {
            header.entry-header {
              span.entry-title {
                font-size: 35px;
                text-shadow: 2px 2px #fff;
                margin-bottom: 0.4em;
                display: block;
              }
  
              div.entry-header-meta {
                @include mixins.created-by-posted-on();
  
                margin-bottom: 1em;
              }
            }
  
            div.entry-content {
              font-size: 14px;
              line-height: 21px;
  
              img {
                width: 620px;
                border-radius: 3px;
              }
            }
  
            div.entry-footer {
              font-size: 13px;
  
              a {
                color: #ef4634;
              }
            }
          }
  
          div#comments {
            margin-top: 1.5em;
  
            span.comments-title {
              display: block;
              width: 100%;
              padding: 0.3em 0;
              font-size: 18px;
              border-top: vars.$border;
              border-bottom: vars.$border;
            }
  
            ul.comment-list {
              list-style: none;
              padding: 0;
              margin-bottom: 1em;
  
              li.comment {
                // display: flex;
  
                article.comment-body {
                  padding: 1em 0.5em;
  
                  span.dashicons {
                    float: left;
                    margin-top: 0.1em;
                    opacity: 0.4;
                  }
  
                  div.comment-block {
                    margin-left: 1.5em;
  
                    footer.comment-meta {
                      font-size: 13px;
                      margin-bottom: 0.4em;
  
                      span.comment-author {
                        color: #ef4634;
  
                        a {
                          color: #ef4634;
                        }
                      }
  
                      .comment-awaiting-moderation {
                        display: block;
                      }
                    }
  
                    div.comment-content {
                      font-size: 14px;
                      line-height: 21px;
  
                      p:last-child {
                        margin-bottom: 0;
                      }
                    }
  
                    div.reply {
                      font-size: 14px;
                      line-height: 21px;
                      text-align: right;
  
                      i {
                        font-size: 12px;
                        opacity: 0.4;
                      }
  
                      a {
                        color: #62585f;
                      }
                    }
                  }
                }
              }
  
              li.comment.current-comment {
                background-color: #fff;
              }
  
              ul.children {
                list-style: none;
                padding-left: 1em;
                // margin: 1em 0;
  
                article.comment-body {
                  padding-top: 0;
                  padding-bottom: 0;
                }
              }
            }
  
            div#respond {
              padding-top: 1em;
              border-top: vars.$border;
  
              #reply-title > small {
                float: right;
                font-size: 13px;
  
                a {
                  color: #ef4634;
                }
              }
  
              .comment-reply-title {
                font-weight: normal;
                font-size: 18px;
              }
  
              form#commentform {
                p.comment-form-comment {
                  label { display: none; }
  
                  textarea {
                    width: 620px;
                    height: 90px;
                    border: vars.$border;
                  }
                }
  
                div.comment-meta-fields {
                  display: flex;
                  justify-content: space-between;
  
                  p {
                    width: 31.4%;
                  }
  
                  label {
                    font-size: 14px;
                  }
  
                  input {
                    width: 100%;
                    height: 30px;
                    border: vars.$border;
                  }
                }
  
                p.form-submit {
                  text-align: right;
  
                  input#submit {
                    font-size: 14px;
                    color: #fff;
                    background-color: #222;
                    padding: 10px;
                    border-radius: 5px;
                    line-height: 1;
                  }
                }
              }
            }
          }
        }
  
        aside.widget-area {
          display: flex;
          flex-flow: column;
  
          section.widget_designfly_facebook_widget {
            background-color: #fff;
            border: vars.$border;
            border-top: none;
  
            .widget-title {
              background-color: #4267b2;
              text-shadow: none;
              color: #fff;
              padding: 0.7em 0.5em;
              font-size: 13px;
              font-weight: normal;
            }
          }
  
          .widget {
            overflow: auto;
            margin-bottom: 2.9em;
  
            .widget-title {
              font-family: vars.$font-family;
              font-weight: normal;
              font-size: 25px;
              color: #62585f;
              text-shadow: 2px 2px #fff;
              border-bottom: vars.$border;
              padding-bottom: 0.25em;
              overflow: auto;
            }
          }
  
          .widget:last-child {
            margin-bottom: 0;
          }
  
          div.portfolio-widget-block {
            display: grid;
            grid-template-columns: 60px 60px 60px 60px;
            grid-gap: 10px;
            margin-top: 1em;
            overflow: auto;
  
            img {
              height: 60px;
              width: 60px;
              border-radius: 5px;
              object-fit: cover;
            }
          }
  
          div.designfly-posts-widget-block {
            display: grid;
            grid-template-columns: 270px;
            grid-row-gap: 10px;
            font-family: vars.$font-family;
            font-weight: normal;
            color: #62585f;
            margin-top: 1em;
  
            div.widget-post-block {
              display: flex;
  
              img {
                height: 45px;
                width: 45px;
                border-radius: 3px;
                object-fit: cover;
                margin-right: 10px;
              }
  
              div.widget-post-details {
                position: relative;
                top: -0.3em;
  
                span.post-title {
                  font-size: 14px;
                  display: block;
                  overflow: auto;
  
                  a.post-title-link {
                    color: #62585f;
                    text-decoration: none;
                  }
  
                  a.post-title-link:hover {
                    color: #ef4634;
                  }
                }
  
                span.post-meta {
                  font-size: 12px;
  
                  span.author {
                    overflow: auto;
  
                    a {
                      color: #ef4634;
                    }
                  }
                }
              }
            }
          }
  
          .widget_designfly_twitter_widget {
            font-family: vars.$font-family;
            color: #62585f;
            font-weight: normal;
  
            .widget-title {
              display: flex;
              justify-content: space-between;
  
              button.twitter-follow-button {
                span.dashicons {
                  color: #1da1f2;
                  line-height: unset;
                  vertical-align: sub;
                  font-size: 15px;
                }
  
                text-shadow: none;
                color: initial;
                padding: 0.2em 0.5em;
                font-size: 13px;
                position: relative;
                top: -3px;
                line-height: 1.3;
                font-weight: bold;
              }
            }
  
            div.designfly-tweet-block {
              div.designfly-tweet-block-header {
                width: 100%;
                display: flex;
                margin-bottom: 0.5em;
  
                & > img {
                  margin-right: 0.5em;
                }
  
                div.designfly-tweet-header-block {
                  display: flex;
                  justify-content: space-between;
                  width: 100%;
  
                  div.designfly-tweet-name-handle {
                    display: grid;
                    grid-template-columns: auto;
  
                    span.designfly-tweet-name {
                      font-size: 14px;
                    }
  
                    span.designfly-tweet-handle {
                      font-size: 13px;
  
                      a {
                        color: #ef4634;
                      }
                    }
                  }
  
                  span.designfly-tweet-time {
                    font-size: 14px;
                  }
                }
              }
  
              p.designfly-tweet-text {
                font-size: 13px;
                line-height: 19.5px;
              }
            }
          }
  
          .widget_archive {
            height: 10em;
            overflow: auto;
  
            ul {
              list-style: none;
              padding: 0;
              margin: 0;
              display: grid;
              grid-template-columns: auto;
              grid-row-gap: 0.7em;
  
              li::before {
                content: "\203A";
                font-size: 13px;
                margin-right: 0.3em;
                font-weight: 600;
              }
  
              li {
                padding: 0;
                margin: 0;
  
                a {
                  font-weight: 600;
                  font-size: 13px;
                  color: #62585f;
                  text-decoration: none;
                }
              }
  
              li:hover a {
                color: #ef4634;
              }
            }
          }
        }
      }
  
      nav.pagination {
        width: 100%;
        margin-top: 1.8em;
  
        div.nav-links {
          display: flex;
          justify-content: center;
          align-items: center;
          width: auto;
          margin: 0 auto;
  
          * {
            height: 30px;
            width: 30px;
            display: inline-block;
            text-align: center;
            line-height: 30px;
            margin: 0 0.1em;
          }
  
          a {
            font-family: vars.$font-family;
            font-weight: 600;
            font-size: 16px;
            color: #222;
            text-decoration: none;
          }
  
          span.current {
            font-family: vars.$font-family;
            font-weight: 600;
            font-size: 16px;
            color: #fff;
            background-color: #ef4634;
            border-radius: 3px;
          }
  
          a:hover {
            color: #fff;
            background-color: #ef4634;
            border-radius: 3px;
          }
        }
      }
    }
}
