@use 'variables' as vars;
        div#comments {
            margin-top: 1.5em;
  
            span.comments-title {
              display: block;
              width: 100%;
              padding: 0.3em 0;
              font-size: 18px;
              border-top: vars.$border;
              border-bottom: vars.$border;
            }
  
            ul.comment-list {
              list-style: none;
              padding: 0;
              margin-bottom: 1em;
  
              li.comment {
                // display: flex;
  
                article.comment-body {
                  padding: 1em 0.5em;
  
                  span.dashicons {
                    float: left;
                    margin-top: 0.1em;
                    opacity: 0.4;
                  }
  
                  div.comment-block {
                    margin-left: 1.5em;
  
                    footer.comment-meta {
                      font-size: 13px;
                      margin-bottom: 0.4em;
  
                      span.comment-author {
                        color: #ef4634;
  
                        a {
                          color: #ef4634;
                        }
                      }
  
                      .comment-awaiting-moderation {
                        display: block;
                      }
                    }
  
                    div.comment-content {
                      font-size: 14px;
                      line-height: 21px;
  
                      p:last-child {
                        margin-bottom: 0;
                      }
                    }
  
                    div.reply {
                      font-size: 14px;
                      line-height: 21px;
                      text-align: right;
  
                      i {
                        font-size: 12px;
                        opacity: 0.4;
                      }
  
                      a {
                        color: #62585f;
                      }
                    }
                  }
                }
              }
  
              li.comment.current-comment {
                background-color: #fff;
              }
  
              ul.children {
                list-style: none;
                padding-left: 1em;
                // margin: 1em 0;
  
                article.comment-body {
                  padding-top: 0;
                  padding-bottom: 0;
                }
              }
            }
  
            div#respond {
              padding-top: 1em;
              border-top: vars.$border;
  
              #reply-title > small {
                float: right;
                font-size: 13px;
  
                a {
                  color: #ef4634;
                }
              }
  
              .comment-reply-title {
                font-weight: normal;
                font-size: 18px;
              }
  
              form#commentform {
                p.comment-form-comment {
                  label { display: none; }
  
                  textarea {
                    width: 620px;
                    height: 90px;
                    border: vars.$border;
                  }
                }
  
                div.comment-meta-fields {
                  display: flex;
                  justify-content: space-between;
  
                  p {
                    width: 31.4%;
                  }
  
                  label {
                    font-size: 14px;
                  }
  
                  input {
                    width: 100%;
                    height: 30px;
                    border: vars.$border;
                  }
                }
  
                p.form-submit {
                  text-align: right;
  
                  input#submit {
                    font-size: 14px;
                    color: #fff;
                    background-color: #222;
                    padding: 10px;
                    border-radius: 5px;
                    line-height: 1;
                  }
                }
              }
            }
          }
            