@use 'variables' as vars;
@use 'mixins';

.site-header {
    height: 105px;
    width: 100%;
    display: table;
  
    .site-header-middle {
      display: table-cell;
      vertical-align: middle;
    }
  
    .site-header-content {
      width: vars.$content-width;
      display: flex;
      justify-content: space-between;
      margin: auto;
    }
  
    .site-navigation-search {
      display: flex;
      justify-content: space-between;
    }
  }
#site-navigation {
    &:first-child {
      padding-top: 20px;
    }
  
    a,
    a:visited {
      color: #222;
      font-family: vars.$font-family;
      font-size: 14px;
      font-weight: bold;
    }
  
    li {
      margin-left: 3px;
    }
  
    li.current-menu-item,
    li:hover {
      background-color: #ef4634;
      border-radius: 3px;
  
      a {
        color: #fff;
      }
    }
    li.current-menu-item,
    li:active {
      background-color: #ef4634;
      border-radius: 3px;
  
      a {
        color: #fff;
      }
    }
   
    
}
  .main-navigation ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  
  .main-navigation li {
    float: left;
    position: relative;
    padding: 10px;
  }
  
  .main-navigation a {
    display: block;
    text-decoration: none;
  }
#search-field {
    padding-top: 25px;
    padding-left: 10px;
  
    .search-input {
      width: 150px;
      height: 20px;
      background-color: #fff;
      border: vars.$border;
      border-radius: 3px;
    }
  
    .search-submit {
      position: relative;
      top: 4px;
    }
  }
