@use 'variables' as vars;

div#primary {
  width: 100%;
  margin-top: 3em;

  main#main {
    margin: 0 auto;
    width: vars.$content-width;

    div.main-title {
      display: flex;
      justify-content: space-between;
      border-bottom: vars.$border;
      font-family: vars.$font-family;

      span {
        font-weight: 100;
        font-size: 45px;
        color: #62585f;
        text-shadow: 2px 2px #fff;
      }

        a.view-all-button {
        font-family: vars.$font-family;
        font-weight: normal;
        font-size: 16px;
        color: #fff;
        margin-top: 10px;
        background-color: #222;
        padding: 10px;
        border-radius: 5px;
        line-height: 1;
        height: 1em;
        text-decoration: none;
      }
    

      div {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 0.5em;

        a.portfolio-taxonomy-buttons {
          font-weight: normal;
          font-size: 16px;
          color: #fff;
          background-color: #222;
          padding: 10px;
          border-radius: 5px;
          line-height: 0.5;
          height: 1.8em;
          position: relative;
          top: 1.3em;
          display: block;
          text-decoration: none;
        }
      }

      a:hover,
      a.selected {
        background-color: #ef4634;
      }
    }

    div.portfolio-block {
      padding: 1.3em 0;
      padding-bottom: 1.8em;
      border-bottom: vars.$border;
      overflow: auto;

      div.portfolio-grid {
        width: 100%;
        display: grid;
        grid-template-columns: 32% 32% 32%;
        grid-column-gap: 2%;
        grid-row-gap: 1em;

        .portfolio-item {
          position: relative;

          img.portfolio-img {
            height: 210px;
            width: 300px;
            border-radius: 10px;
            object-fit: none;
            padding: 0;
            margin: 0;
          }

          .portfolio-overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 210px;
            width: 100%;
            opacity: 0;
            transition: 0.5s ease;
            border-radius: 10px;
            background-color: #222;
            cursor: pointer;

            .portfolio-overlay-text {
              color: #fff;
              font-family: vars.$font-family;
              font-size: 15px;
              position: absolute;
              top: 50%;
              left: 50%;
              -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
              text-align: center;
            }
          }
        }

        .portfolio-item:hover .portfolio-overlay {
          opacity: 0.8;
        }
      }

      nav.pagination {
        width: 100%;
        margin-top: 1.8em;

        div.nav-links {
          width: auto;
          margin: 0 auto;

          * {
            height: 30px;
            width: 30px;
            display: inline-block;
            text-align: center;
            line-height: 30px;
            margin: 0 0.1em;
          }

          a {
            font-family: vars.$font-family;
            font-weight: 600;
            font-size: 16px;
            color: #222;
            text-decoration: none;
          }

          span.current {
            font-family: vars.$font-family;
            font-weight: 600;
            font-size: 16px;
            color: #fff;
            background-color: #ef4634;
            border-radius: 3px;
          }

          a:hover {
            color: #fff;
            background-color: #ef4634;
            border-radius: 3px;
          }
        }
      }
    }
  }
}

/* The Modal (background) */
div#portfolio-modal {
  display: none; 
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);

  /* Modal Box */
  div#portfolio-modal-box {
    display: table;
    height: 100%;
    width: fit-content;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.9s;
    margin: auto;

    div#portfolio-modal-box-wrap {
      display: table-cell;
      width: fit-content;
      height: fit-content;
      vertical-align: middle;

      div#portfolio-modal-box-flex {
        display: flex;
        justify-content: flex-start;
        width: fit-content;
        height: fit-content;

        div#portfolio-modal-box-border {
          padding: 20px 20px 0 20px;
          background-color: #fff;

          img#portfolio-modal-img {
            width: auto;
            border-radius: 5px;
          }

          div#portfolio-modal-caption {
            height: 60px;
            width: 100%;
            background-color: #fff;
            padding: 15px 0;
            font-family: vars.$font-family;
            font-size: 18px;
            color: #62585f;
            font-weight: 600;
            display: grid;
            grid-template-columns: auto auto auto;

            span#portfolio-title-span {
              text-align: center;
            }

            span.navigation-arrow-left {
              justify-self: left;
              cursor: pointer;
              width: fit-content;
              
              img {
                height: 22px;
                width: 22px;
              }
            }

            span.navigation-arrow-right {
              justify-self: right;
              cursor: pointer;
              width: fit-content;

              img {
                height: 22px;
                width: 22px;
              }
            }
          }
        }
      }

      div.portfolio-close {
        span.portfolio-close-span {
          height: 35px;
          width: 35px;
          display: block;
          text-align: center;
          background-color: #fff;
          color: #222;
          font-size: 1.4em;
          cursor: pointer;
        }
      }
    }
  }
}

div.portfolio-taxonomy {
  background-image: url('../images/features-repeatable-bg.png');
  height: 101px;
  width: 100%;
  display: table;

  div.portfolio-taxonomy-middle {
    display: table-cell;
    vertical-align: middle;

    div.portfolio-taxonomy-content {
      width: vars.$content-width;
      margin: auto;
      display: flex;
      justify-content: space-between;

      div.portfolio-taxonomy-block {
        display: flex;
        justify-content: space-between;

        img {
          position: relative;
          top: 15%;
          height: 50px;
          margin-right: 1em;
        }

        div.portfolio-taxonomy-details {

          a {
            text-decoration: none;
            span.portfolio-taxonomy-title {
              font-family: vars.$font-family;
              font-weight: bold;
              font-size: 20px;
              color: #ef4634;
              text-shadow: 2px 2px #fff;
            }
          }

          span.portfolio-taxonomy-title:hover {
            color: #222;
          }
      
          p.portfolio-taxonomy-description {
            margin: auto;
            word-wrap: break-word;
            font-family: vars.$font-family;
            font-weight: normal;
            font-size: 13px;
            width: 250px;
            height: 50px;
            color: #333;
            line-height: 19.5px;
          }
        }
      }
    }
  }
}

@-webkit-keyframes zoom {
  from { -webkit-transform: scale(0); }
  to { -webkit-transform: scale(1); }
}

@keyframes zoom {
  from { transform: scale(0); }
  to { transform: scale(1); }
}
